name: learn-github-actions
on:
  push:
  pull_request:
    branches:
      - "main"
      - "MVE1"
      - "MVE2"
      - "MVE3"
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive' # Include submodules when checking out the repository
      # Set up Docker
      - name: Set up Docker
        uses: docker/setup-docker-action@v2

      - name: Initialize libft submodule
        run: git submodule update --init libft

      - name: Update libft submodule
        run: git submodule update --remote libft

      # - name: 42 NORM
      #   run: python3 -m venv venv
      #        source venv/bin/activate
      #        pip install norminette

      - name: Install CUnit
        run: sudo apt-get update && sudo apt-get install -y libcunit1-dev
      - name: Install Valgrind
        run: sudo apt-get install valgrind

        # Run Valgrind using Docker
      - name: Test
        if: github.event_name == 'pull_request'
        run: docker run --rm -v $(pwd):/app -w /app valgrind make valgrind=true test
        # run: make test; make debug=true test; make valgrind=true test
