name: learn-github-actions
on:
  push:
  pull_request:
    branches:
      - "main"
      - "MVE1"
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive' # Include submodules when checking out the repository

      - name: Initialize libft submodule
        run: git submodule update --init libft

      - name: Update libft submodule
        run: git submodule update --remote libft

      - name: DEBUG LIBFT
        run: cat libft/srcs/ft_printf/converters/type/char_type.c -te
      - name: 42 Norminette
        uses: alexandregv/norminette-action@v3

      - name: Test
        if: github.event_name == 'pull_request'
        run: ./tests
