name: learn-github-actions
on:
  push:
  pull_request:
    branches:
      - "main"
      - "MVE1"
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive' # Include submodules when checking out the repository

      - name: Initialize libft submodule
        run: git submodule update --init libft

      - name: Update libft submodule
        run: git submodule update --remote libft

      # - name: 42 NORM
      #   run: python3 -m venv venv
      #        source venv/bin/activate
      #        pip install norminette

      - name: Test
        if: github.event_name == 'pull_request'
        run: ./tests
